<!DOCTYPE html>
<html>
  <head>
    <meta name="pypi:repository-version" content="1.2">
    <title>Links for procfile</title>
  </head>
  <body>
    <h1>Links for procfile</h1>
<a href="https://files.pythonhosted.org/packages/a8/f2/c5c19592f5dbf06ce428f76f7e6bef54b2c86f687743930b13a5476d96e8/procfile-0.1.0.tar.gz#sha256=1cdfff5702e455f72855c747ec8a7546a39f696e4334de0fd35e2a2072684919" >procfile-0.1.0.tar.gz</a><br />
</body>
</html>
<!--SERIAL 1830609-->